@model PhoneHomeSample.Models.Record

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Record</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UrlName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UrlName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NumOn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumOn)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NumOff)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumOff)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastReported)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastReported)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
