@model IEnumerable<PhoneHomeSample.Models.Record>

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.6/css/jquery.dataTables.css">
<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.6/js/jquery.dataTables.js"></script>

@{
    ViewBag.Title = "Phone Home reports";
}

<h2>Enterprise Mode Data Collection Report</h2>

<h4>Filter</h4>

<span>Difference between Enterprise Mode ONs and OFFs >= </span> <input id="threshold" type="number" value="5" style="width: 50px" />
<span>Number of days to consider: </span> <input id="numDays" type="number" value="30" style="width: 50px" />
<button onclick="updateTable();">Update table</button>
<hr style="margin-bottom: 30px;" />

<table width="1200px" id="mainTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UrlName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Delta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastReported)
            </th>
            <th>
                Recommendation
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="recordPhoneHome" data-days-difference="@DateTime.Now.Subtract(item.LastReported).Days" data-delta="@item.Delta">
                <td>
                    @Html.DisplayFor(modelItem => item.UrlName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumOff)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Delta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastReported)
                </td>
                <td class="recommendation"></td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready( function () {
        $('#mainTable').DataTable();
    } );

    function updateTable() {
        var listOfTRs = document.getElementsByClassName("recordPhoneHome");
        var numDaysValue = Number(numDays.value);
        var thresholdValue = Number(threshold.value);

        for(var i=0; i< listOfTRs.length; i++){
            var itemTR = listOfTRs[i];

            if (Number(itemTR.getAttribute("data-days-difference")) > numDaysValue) {
                itemTR.style.display = "none";
            }
            else
            {
                itemTR.style.display = "";
            }

            var dataDelta = Number(itemTR.getAttribute("data-delta"));
            if (dataDelta >= thresholdValue) {
                itemTR.style.background = "#99FF99";
                itemTR.getElementsByClassName("recommendation")[0].innerHTML = "Add to site list";
            }
            else if (dataDelta <= ((-1) * thresholdValue)) {
                itemTR.style.background = "#FFFF99";
                itemTR.getElementsByClassName("recommendation")[0].innerHTML = "Remove from site list";
            }
            else {
                itemTR.getElementsByClassName("recommendation")[0].innerHTML = "";
                itemTR.style.background = "";
            }
        }
    }

    updateTable();
</script>
